[Unit]
Description=uWSGI instance to serve app

[Service]
ExecStartPre=-/usr/bin/bash -c 'mkdir -p /run/uwsgi; chown user:nginx /run/uwsgi'
ExecStart=/usr/bin/bash -c 'cd /home/user/app; source myappenv/bin/activate; uwsgi --ini app.ini'

[Install]
WantedBy=multi-user.target